.DS_Store
node_modules
dist
coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.vercel
.cache
backend/.env
frontend/.env
staff-panel/.env
display-screen/.env
docker/postgres-data
docker/redis-data

